In [1]:

import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("clean_data/final_flight_data.csv")

In [3]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'Origin', 'Dest', 'DepDelayMinutes',
       'ArrDelayMinutes', 'Cancelled', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'orgin_lat',
       'orgin_long', 'des_lat', 'des_long'],
      dtype='object')

In [4]:
avg_df = df.groupby(["Origin","Year","Month"])\
                .agg({'DepDelayMinutes':'mean','ArrDelayMinutes':'mean','CarrierDelay':'sum',
                     'WeatherDelay':'sum','NASDelay':'sum','SecurityDelay':'sum', 'LateAircraftDelay':'sum'})\
                .reset_index()

avg_df.to_csv("clean_data/average_monthly_delay.csv",index = False)
avg_df.head(5)

,Origin,Year,Month,DepDelayMinutes,ArrDelayMinutes,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,ABE,2017,1,113.694444,115.027778,1509.0,77.0,1648.0,0.0,907.0
1,ABE,2017,2,39.416667,53.000000,202.0,0.0,377.0,0.0,57.0
2,ABE,2017,3,49.363636,57.484848,257.0,63.0,473.0,0.0,1104.0
3,ABE,2017,4,163.400000,156.900000,1854.0,0.0,96.0,0.0,1188.0
4,ABE,2017,5,111.190476,109.619048,1414.0,0.0,106.0,0.0,782.0

In [5]:
connections = df[['Origin','Dest','orgin_lat',
                   'orgin_long', 'des_lat', 'des_long']]

In [6]:
connections.to_csv("clean_data/airport_long_lat.csv",index = False)
connections.head(2)

  Origin Dest  orgin_lat  orgin_long    des_lat    des_long
0    JFK  LAX  40.639801    -73.7789  33.942501 -118.407997
1    JFK  LAX  40.639801    -73.7789  33.942501 -118.407997